$primary : hsl(180deg 100% 93%);
$bg-color:hsl(0deg 0% 94%);
$bg-container-color:hsl(0deg 0% 100%);
$main-heading-color:hsl(181deg 34% 51%);
$sub-heading-color:hsl(70deg 51% 64%);


// for description
$description-text-color:hsl(235deg 14% 85%);


// for subscription-section


// for info section


$subscription-bg-color: hsl(179deg 57% 45%);
$info-bg-color : hsl(179deg 47% 52%);