$primary : hsl(180deg 100% 97%);
$bg-color:hsl(204deg 43% 93%);
$bg-container-color:hsl(0deg 0% 100%);
$main-heading-color:hsl(177deg 49% 47%);
$sub-heading-color:hsl(69deg 58% 63%);


// for description
$description-text-color:hsl(224deg 6% 65%);


// for subscription-section


// for info section


$subscription-bg-color: hsl(179deg 57% 45%);
$info-bg-color : hsl(179deg 46% 53%);